*{

    margin: 0%;
    padding: 0%;
 }
 
 .fnav{
 
   display: flex;
   justify-content: center;
   justify-content: space-around;
   margin-top: 11px;
   color: white;
   padding: 6px;
   background-color: rgb(42,42,68);
   position:relative;
 }
 
 .fnav .left{
   display: flex;
   margin-top: 10px;
   
 }
 
 
 
 .left input{
   margin-inline:11px;
   height: 33px;
   border:none;
   outline: none;
   text-align: center;
   margin-top:4px;
   max-width: 90%;
   width:420px;
   
 }
 
 .fnav .right{
   display: flex;
   margin-top: 11px;
   margin-left:400px;
   padding-left:10px;
   padding: 6px;
   
 }
 
 .right>p{
   margin-inline: 22px;
   font-size:18px;
   font-weight: 400;
   color: rgb(204, 204, 204);
   margin-left:-70px;
   cursor: pointer;
   position: fixed;
   
 }
 
 .icon1 {
   width: 35px;
   height: 5px;
   background-color:white;
   margin: 3px 0;
   cursor: pointer;
   padding:-6px;
 }
 
 .right button{
   margin-inline:25px;
   width:80px;
   height:27px;
   border: none;
   border-radius: 5px;
   color: rgb(255, 255, 255);
   background-color: rgb(248, 68, 100);
   border: 1px solid rgb(248, 68, 100);
   margin-right:50px;
   cursor: pointer;
 
 }
 
 
 * {box-sizing: border-box;}
 
 .sec-nav {
     overflow: hidden;
     background-color:rgb(34, 37, 57);
   
      }  
 
 
 .sec-nav .body{
   
     margin: 2px;
     font-family: Arial, Helvetica, sans-serif;
    }
 
 
  .s-left a{
   float:left;
   padding:10px 10px;;
   color: rgb(204, 204, 204);
   text-decoration: none;
   font-size: 15px;
   margin:2px 10px 2px 20px;
 }
 
   .s-right a{
   float:right;
   padding:10px 10px;;
   color: rgb(204, 204, 204);
   text-decoration: none;
   font-size: 15px;
   margin: 2px 10px 2px 20px;
   }


   * {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/*------DUMMY PAGE FADED BACKGROUND----*/



 
.card{
  /*
   box-shadow: 0 15px 30px rgba(0,0,0,0.30),0 11px 8px rgba(0,0,0,0.22);
   */
   width:290px;
   box-sizing: border-box;
   transition-duration: 1s;
   
}


.card >img{
    display:block;
    width:90%;
    aspect-ratio: 2/3;
    object-fit: cover;
    margin-top: 60px;
    margin-left: auto;
    border-radius: 10px;
    cursor: pointer;

}

/*
.card:hover{
    box-shadow: 0 18px 36px rgba(0,0,0,0.30), 0 14px 11px rgba(0,0,0,0.22);
    width:290px;
}
*/

.details> h2{
  position: relative;
  margin: -400px 50px 15px 320px;
  font-size: 30px;

}

.ratings {

  position:relative;
  width:300px;
  height:auto;
  margin-left: 340px;

}

.add{

  width:100%;
  border:1px solid #ccc;
  border-radius:20px;
  padding:10px 100px 10px 20px;
  line-height:2;
  box-sizing:border-box;
  outline:none;
  cursor: pointer;
}

.ratebutton{

  position: absolute;
  right:3px;
  top:3px;
  bottom: 3px;
  border:0;
  background:#d1095e;
  color:#fff;
  outline:none;
  margin: 0;
  padding:0 10px;
  border-radius :20px;
  z-index:2;
  cursor: pointer;
}

#buttons{
 margin-left: 350px;
 margin-top: 20px;
 cursor: pointer;
 width:50%;

}


#d{

   margin-left: 340px;
   margin-top: 10px;
   cursor: pointer;
}

ul {
  display: inline-block;
  padding: 0;
  margin: .5rem;
  text-align: center;
  background-color: #fff;
}
li { display: inline; }
li a { white-space: nowrap; }
li:after {
  content: " ";
  letter-spacing: 1em;
}

.submitbutton{

  
  margin-left: 348px;
  margin-top: 45px;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: rgb(248, 68, 100);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.submitbutton:hover {background-color: rgb(240, 31, 69)}

.submitbutton:active {
  background-color: rgb(240, 31, 69);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/*
.RRR{

 background-image: url("RRR.jpg");  
 background-position: top right;
 background-repeat: no-repeat;
 width: 100%;

}
*/

.filmdetails >h2{

  color:black;
  margin-top: 140px;
  margin-left:25px;
  padding :20px;
  font-size: 25px;
  font-family: Serif,Times New Roman;
  font-weight: 900;
   
}

.filmdetails >p{

 padding:20px;
 margin-left: 35px;
 color: #666; 
 font-size:17px;
 line-height: 27px;
 
}

#Aboutthemovie{

  font-size: 18px;
  font-family:serif;
  color: rgb(51, 51, 51);
  padding:20px;
  margin-top: 0px;
}

.div1 {
  width: 300px;
  height: 0.15px;
  border: 1px solid;
  padding: 60px;
  border-style: dashed;
  border-color:yellow;
  text-align:center;
  
}

.Topoffers>h2{

  margin-top:50px; 
  margin-left:50px;
  font-size:23px;
}






.boxed {
  border: 2px solid  hsla(51, 86%, 52%, 0.986);
  height: 60px;
  width: 35%;
  text-align:center;
  margin-left:50px;
  margin-top: 40px;
  border-style:dashed;
  background-color: rgb(255, 241, 204);
 padding-top: 10px;
 cursor: pointer;

}

.boxed2{

  border: 2px solid hsla(51, 86%, 52%, 0.986);
  height: 60px;
  width: 35%;
  text-align:center;
  margin-left:50px;
  margin-top: 50px;
  border-style: dashed;
  margin-left:590px;
  margin-top:-62px;
  background-color: rgb(255, 241, 204);
  padding-top: 10px;
  cursor:pointer;
  

}

.cast{
  
  margin-top:80px;
  margin-left:43px;

}
/*
.caststars >img{

  border-radius:50%;
  margin-left:50px;
  margin-top:70px;
  padding-left:10px;
  padding-right:25px;
  padding-top:12px;
  padding-bottom:12px;

}
*/

.caststars > img{

  margin-left:50px;
  margin-top: 40px;
  border-radius:100%;
  padding-top:12px;
  padding-bottom:12px;
  cursor:pointer;
  aspect-ratio: 1/1;

}

.Crewmembers{

  margin-top:80px;
  margin-left:43px;

}

.crew >img{
  margin-left:50px;
  margin-top: 40px;
  border-radius:100%;
  padding-top:12px;
  padding-bottom:12px;
  cursor:pointer;
  aspect-ratio: 1/1;

}





