*{

    margin: 0%;
    padding: 0%;
 }
 
 .fnav{
 
   display: flex;
   justify-content: center;
   justify-content: space-around;
   margin-top: 11px;
   color: white;
   padding: 6px;
   background-color: rgb(42,42,68);
   position:relative;
 }
 
 .fnav .left{
   display: flex;
   margin-top: 10px;
   
 }
 
 
 
 .left input{
   margin-inline:11px;
   height: 33px;
   border:none;
   outline: none;
   text-align: center;
   margin-top:4px;
   max-width: 90%;
   width:420px;
   
 }
 
 .fnav .right{
   display: flex;
   margin-top: 11px;
   margin-left:400px;
   padding-left:10px;
   padding: 6px;
   
 }
 
 .right p{
   margin-inline: 22px;
   font-size:18px;
   font-weight: 400;
   position: fixed;
   color: rgb(204, 204, 204);
   margin-left:-70px;
   cursor: pointer;
   
 }
 
 .icon1 {
   width: 35px;
   height: 5px;
   background-color:white;
   margin: 3px 0;
   cursor: pointer;
   padding:-6px;
 }
 
 .right button{
   margin-inline:25px;
   width:80px;
   height:27px;
   border: none;
   border-radius: 5px;
   color: rgb(255, 255, 255);
   background-color: rgb(248, 68, 100);
   border: 1px solid rgb(248, 68, 100);
   margin-right:50px;
   cursor: pointer;
 
 }
 
 
 * {box-sizing: border-box;}
 
 .sec-nav {
     overflow: hidden;
     background-color:rgb(34, 37, 57);
   
      }  
 
 
 .sec-nav .body{
   
     margin: 2px;
     font-family: Arial, Helvetica, sans-serif;
    }
 
 
  .s-left a{
   float:left;
   padding:10px 10px;;
   color: rgb(204, 204, 204);
   text-decoration: none;
   font-size: 15px;
   margin:2px 10px 2px 20px;
 }
 
   .s-right a{
   float:right;
   padding:10px 10px;;
   color: rgb(204, 204, 204);
   text-decoration: none;
   font-size: 15px;
   margin: 2px 10px 2px 20px;
   }


   .Centered{

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size:38px;
  font-family: Roboto,sans-serif;
  font-style:inherit;
  font-weight: 500;
  margin-top: -110px;
  margin-left: -300px;

  
   }

   .cen2{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size:22px;
    font-family: Roboto,sans-serif;
    font-style:inherit;
    font-weight: 200;
    margin-left: -290px;
    margin-top: -50px;
    letter-spacing: -1px;

   }


.body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 16px;
  background-color: white;
  width:400px;
  margin:-30px 50px 30px 50px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  border-radius:10px;
  opacity: 0.9;
  margin-left:100px;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
