* {
  margin: 0%;
  padding: 0%;
}

.fnav {

  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin-top: 11px;
  color: white;
  padding: 2px;
  background-color: rgb(42, 42, 68);
  position: relative;
}

.fnav .left {
  display: flex;
  margin-top: 10px;
}

.left input {
  margin-inline: 11px;
  height: 33px;
  border: none;
  outline: none;
  text-align: center;
  margin-top: 4px;
  max-width: 90%;
  width: 420px;

}

.fnav .right {
  display: flex;
  margin-top: 11px;
  margin-left: 400px;
  padding-left: 10px;
  padding: 6px;
  position: static;

}

.right p {
  margin-inline: 22px;
  font-size: 18px;
  font-weight: 400;
  position:fixed;
  color: rgb(204, 204, 204);
  margin-left: -70px;
  cursor: pointer;

}

.icon1 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 3px 0;
  cursor: pointer;
  padding: -6px;
}

.right button {
  margin-inline: 25px;
  width: 80px;
  height: 27px;
  border: none;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  background-color: rgb(248, 68, 100);
  border: 1px solid rgb(248, 68, 100);
  margin-right: 50px;
  cursor: pointer;

}

.right button a {

  position: relative;

}


* {
  box-sizing: border-box;
}

.sec-nav {
  /*
  
  box-sizing: border-box;
  padding:15px 20px;
  position: center;
  */

  overflow: hidden;
  background-color: rgb(34, 37, 57);
}


.sec-nav .body {

  margin: 2px;
  font-family: Arial, Helvetica, sans-serif;

}


.s-left a {
  /*
  width:33px;
  */

  float: left;
  padding: 10px 10px;
  ;
  color: rgb(204, 204, 204);
  text-decoration: none;
  font-size: 13px;

  /*
  margin-left:29px;
  */
  /*
  margin:22px 10px 15px 20px;
  */
  margin: 2px 10px 2px 20px;
}



.s-right a {
  /*
  width:33px;
  */

  float: right;
  padding: 10px 10px;
  ;
  color: rgb(204, 204, 204);
  text-decoration: none;
  font-size: 13px;
  margin: 2px 10px 2px 20px;



}

* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
}

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1900px;
  position: absolute;
  margin: auto;
  margin-top: 14px;
  margin-left: 50px;
  background-color: #717171;

}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-top: 250px;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px
  }
}

.container1 {

  display: inline-flexbox;
  margin-left: 55px;
  row-gap: 40px;


}


.container1 h2 {
  display: flexbox;
  margin: 60px 20px 15px 7px;
  font-size: 24px;
  font-family: Roboto;
  color: rgb(51, 51, 51);
  font-weight: 700;
  line-height: 1.17;
}

 .container1.class1 {

  display: inline-flexbox;
  flex: row;
  row-gap: 40px;
  border-radius: 3px;
  justify-content: space-between;
  margin-right: 30px;
  margin-top: 50px;

}

.film>.Filmname{

  font-family: Roboto;
  font-size: 20px;
  font-weight: 800;
  line-height: 1.33;
  margin-top: 10px;

}

.film>.Filmtype{

  font-size: 15px;
  color: #717171;
  
}




.film> .Filmthumbnail{
  cursor: pointer;
  width:90%;
  aspect-ratio: 2/3;
  object-fit: cover;
  margin-top: 20px;
  border-radius: 10px;


}
#filmRoot{
  display: grid;
  grid-template-columns: 0.88fr 0.887fr 0.88fr 0.88fr 0.88fr;
  grid-gap:1px;
  margin-left: 50px;
  grid-row: 5px;

}

.movielist{

  margin-top: 70px;
  margin-left: 45px;
  color: rgb(51, 51, 51);
  font-family: Roboto;
  

}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.sidenav.h3{

  margin-left:90px;

}

.secondbanner{

  margin-top:100px;
}

.heading2{

  margin-left: 50px;
  margin-top: 70px;
}


.event >.Eventthumbnail{
  cursor: pointer;
  width:90%;
  aspect-ratio: 1/1;
  object-fit: cover;
  margin-top: 20px;
  border-radius:10px;


}
#eventRoot{
  display: grid;
  grid-template-columns: 0.88fr 0.887fr 0.88fr 0.88fr 0.88fr;
 grid-gap: 2px;
  margin-left:50px;
  grid-row: 5px;

}




