*{

    margin: 0%;
    padding: 0%;
 }
 
 .fnav{
 
   display: flex;
   justify-content: center;
   justify-content: space-around;
   margin-top: 11px;
   color: white;
   padding: 6px;
   background-color: rgb(42,42,68);
   position:relative;
 }
 
 .fnav .left{
   display: flex;
   margin-top: 10px;
   
 }
 
 
 
 .left input{
   margin-inline:11px;
   height: 33px;
   border:none;
   outline: none;
   text-align: center;
   margin-top:4px;
   max-width: 90%;
   width:420px;
   
 }
 
 .fnav .right{
   display: flex;
   margin-top: 11px;
   margin-left:400px;
   padding-left:10px;
   padding: 6px;
   
 }
 
 .right p{
   margin-inline: 22px;
   font-size:18px;
   font-weight: 400;
   position: fixed;
   color: rgb(204, 204, 204);
   margin-left:-70px;
   cursor: pointer;
   
 }
 
 .icon1 {
   width: 35px;
   height: 5px;
   background-color:white;
   margin: 3px 0;
   cursor: pointer;
   padding:-6px;
 }
 
 .right button{
   margin-inline:25px;
   width:80px;
   height:27px;
   border: none;
   border-radius: 5px;
   color: rgb(255, 255, 255);
   background-color: rgb(248, 68, 100);
   border: 1px solid rgb(248, 68, 100);
   margin-right:50px;
   cursor: pointer;
 
 }
 
 
 * {box-sizing: border-box;}
 
 .sec-nav {
     overflow: hidden;
     background-color:rgb(34, 37, 57);
   
      }  
 
 
 .sec-nav .body{
   
     margin: 2px;
     font-family: Arial, Helvetica, sans-serif;
    }
 
 
  .s-left a{
   float:left;
   padding:10px 10px;;
   color: rgb(204, 204, 204);
   text-decoration: none;
   font-size: 15px;
   margin:2px 10px 2px 20px;
 }
 
   .s-right a{
   float:right;
   padding:10px 10px;;
   color: rgb(204, 204, 204);
   text-decoration: none;
   font-size: 15px;
   margin: 2px 10px 2px 20px;
   }


   * {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  width: 900px;
  height: 10px;
  object-fit:contain;
  margin-left:10px;

}

/* Number text (1/6 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height:10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-top: 250px;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width:1800px) {
  .text {font-size: 11px}
}