/*{
    margin:0;
    padding:3px;
    font-family:'Popins', sans-serif;
    box-sizing: border-box;

}

body{
background: #262a2f;

}

.loginbox{

background: #fff;
padding: 30px  120px ;
width:410px;
position:absolute;
top:50%;
left:50%;
transform: translate(-50%,-50%);
text-align: center;
border-radius: 10px;
height: 580px;
font-size: 12px;
font-weight: 500;

}

.loginbox.h2{

    
    text-align: center;
    color:rgb(51, 51, 51);
    font-size: 10px;
}


.b {
    top: 165px;
    right:40px;
    width: 80%;
    padding: 6px 8px;
    font-size: 15px;
    overflow:auto;
    position:absolute;
    border-radius: 4px;
    text-align:center;
    display: inline-block;
    font-weight: 500;
    color: rgb(89, 89, 89);
    background: rgb(255, 255, 255);
    border: 1px solid rgb(153, 153, 153);
    transition: background 0.5s ease-out 0s;
    cursor: pointer;
}

.b1{

    top: 215px;
    right:40px;
    width: 80%;
    padding: 6px 8px;
    font-size: 15px;
    overflow:auto;
    position:absolute;
    border-radius: 4px;
    text-align:center;
    display: inline-block;
    font-weight: 500;
    color: rgb(89, 89, 89);
    background: rgb(255, 255, 255);
    border: 1px solid rgb(153, 153, 153);
    transition: background 0.5s ease-out 0s;
    cursor: pointer;
}

.b2{

    top: 265px;
    right:40px;
    width: 80%;
    padding: 4px 6px;
    font-size: 15px;
    overflow:auto;
    position:absolute;
    border-radius: 4px;
    text-align:center;
    display: inline-block;
    font-weight: 500;
    color: rgb(89, 89, 89);
    background: rgb(255, 255, 255);
    border: 1px solid rgb(153, 153, 153);
    transition: background 0.5s ease-out 0s;
    cursor: pointer;
}

.heading .h3{

margin-top:100px;
font-size: 19px;

}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size:60px;
    font-weight: bold;
    cursor: pointer;
  }
  





body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 50%;
  height: 40px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}



/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}



.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}


/* Change styles for span and cancel button on extra small screens */

/*@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}/*
