*{

    margin: 0%;
    padding: 0%;
 }
 
 .fnav{
 
   display: flex;
   justify-content: center;
   justify-content: space-around;
   margin-top: 11px;
   color: white;
   padding: 6px;
   background-color: rgb(42,42,68);
   position:relative;
 }
 
 .fnav .left{
   display: flex;
   margin-top: 10px;
   
 }
 
 
 
 .left input{
   margin-inline:11px;
   height: 33px;
   border:none;
   outline: none;
   text-align: center;
   margin-top:4px;
   max-width: 90%;
   width:420px;
   
 }
 
 .fnav .right{
   display: flex;
   margin-top: 11px;
   margin-left:400px;
   padding-left:10px;
   padding: 6px;
   
 }
 
 .right p{
   margin-inline: 22px;
   font-size:18px;
   font-weight: 400;
   position: fixed;
   color: rgb(204, 204, 204);
   margin-left:-70px;
   cursor: pointer;
   
 }
 
 .icon1 {
   width: 35px;
   height: 5px;
   background-color:white;
   margin: 3px 0;
   cursor: pointer;
   padding:-6px;
 }
 
 .right button{
   margin-inline:25px;
   width:80px;
   height:27px;
   border: none;
   border-radius: 5px;
   color: rgb(255, 255, 255);
   background-color: rgb(248, 68, 100);
   border: 1px solid rgb(248, 68, 100);
   margin-right:50px;
   cursor: pointer;
 
 }
 
 
 * {box-sizing: border-box;}
 
 .sec-nav {
     overflow: hidden;
     background-color:rgb(34, 37, 57);
   
      }  
 
 
 .sec-nav .body{
   
     margin: 2px;
     font-family: Arial, Helvetica, sans-serif;
    }
 
 
  .s-left a{
   float:left;
   padding:10px 10px;;
   color: rgb(204, 204, 204);
   text-decoration: none;
   font-size: 15px;
   margin:2px 10px 2px 20px;
 }
 
   .s-right a{
   float:right;
   padding:10px 10px;;
   color: rgb(204, 204, 204);
   text-decoration: none;
   font-size: 15px;
   margin: 2px 10px 2px 20px;
   }

   .third-nav{
 
    display: flex;
    justify-content: space-around;
    margin-top:5px;
    color: white;
    padding: 15px;
    background-color: rgb(42,42,68);
    position:relative;
  }

 #title{
   margin-right:55px;
  }

  .button {
    border: 1px solid green;
    color: green;
    padding: 8px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 3px 11px;
    cursor: pointer;
    border-radius:5px;
    background-color:white;
    
   
    
  }
  #shenoys{
    margin-top: 0.7cm;
    padding: 14px 20px ;
    margin-left: 50px;
  }

  .buttons{
    margin-left:408px;
    margin-top: -39px;
    }
    

    .button {
      border: 1px solid green;
      color: green;
      padding: 8px 26px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      margin: 3px 11px;
      cursor: pointer;
      border-radius:5px;
      background-color:white;
      
     
      
    }
    #centersquare{
      margin-top: 0.7cm;
      padding: 14px 20px ;
      margin-left: 50px;
    }
  
    .buttons2{
      margin-left:408px;
      margin-top: -39px;
      }
      

      .button {
        border: 1px solid green;
        color: green;
        padding: 8px 26px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 3px 11px;
        cursor: pointer;
        border-radius:5px;
        background-color:white;
        
       
        
      }
      #oberon{
        margin-top: 0.7cm;
        padding: 14px 20px ;
        margin-left: 50px;
      }
    
      .buttons3{
        margin-left:408px;
        margin-top: -39px;
        }
        